<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Cart Index</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="/app/assets/stylesheets/bootstrap.min.css" rel="stylesheet">      
		<link href="/app/assets/stylesheets/bootstrap-responsive.min.css" rel="stylesheet">
		
		<link href="/app/assets/stylesheets/bootstrappage.css" rel="stylesheet"/>
		
		<!-- global styles -->
		<link href="/app/assets/stylesheets/flexslider.css" rel="stylesheet"/>
		<link href="/app/assets/stylesheets/main.css" rel="stylesheet"/>

		<!-- scripts -->
		<script src="/app/assets/javascripts/jquery-1.7.2.min.js"></script>
		<script src="/app/assets/javascripts/js/bootstrap.min.js"></script>				
		<script src="/app/assets/javascripts/superfish.js"></script>	
		<script src="/app/assets/javascripts/jquery.scrolltotop.js"></script>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="/app/assets/javascripts/respond.min.js"></script>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	</head>
    <body >	
	
		<div id="top-bar" class="col-lg-12">
			<div class="row">
				<div class="1
				span8 pull-left ">
					
					<div style="display:flex; justi1
					fy-content:flex-start; width:90%">
						<input type="text" class="input-block-level search-query" Placeholder="Tìm kiếm ở đây" id="searchbar" style="background-color:white; color:black" name="search">
                            <input type="button" value="Tìm kiếm" onClick="timkiem()" style="background-color:white; color:black"/>
                        </div>

				</div>
				<div class="pull-right">
					<div class="account">
						<ul class="user-menu">				
							<li><%= link_to "Trang chủ", root_path%></li>
							<li><%= link_to "Xem giỏ hàng", view_cart_path%></li>
							<% if user_signed_in? %>
							<li><%= link_to "Xem đơn hàng", view_orders_path%></li>				
							<li><%= link_to "Thông tin tài khoản", view_info_path%></li>
							<li><%= link_to "Đăng xuất", signout_path, :method => :get %></li>
							<%else%>
							<li><%= link_to "Đăng nhập", "users/sign_in"%></li>
							<li><%= link_to "Đăng ký", "users/sign_up"%></li>
							<%end%>
							<li><%= link_to "Thông tin liên hệ", view_cart_path%></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		
		<div id="wrapper" class="container">
			<section class="navbar main-menu">
				<div class="navbar-inner main-menu">	
					<%= link_to image_tag("logof.png", style:'height:3vw;width:12vw;margin-left:5vw;'), :action => 'index', :controller => 'saches', :class => 'site_logo'%>
				
					<nav id="menu" class="pull-right">
						<ul>									
							<li><%= link_to "Sách tham khảo/ Sách giáo khoa", search_path('Sách tham khảo/ Sách giáo khoa')%></li>
							<li><%= link_to "Tiểu thuyết", search_path('Tiểu thuyết')%></li>
							<li><%= link_to "Truyên tranh", search_path('Truyen tranh')%></li>
							<li><%= link_to "Tâm lý học/ Kỹ năng sống", search_path('Tâm lý học/ Kỹ năng sống')%></li>
							<li><%= link_to "Kinh tế - Chính trị", search_path('Kinh tế - Chính trị')%></li>
							
						</ul>
					</nav>
				</div>
				<div class="flexslider" >              
                    <ul class="slides">                   
                        <li>
                        <%= image_tag('banner1.jpg', style: 'height:25vw;width:96vw; margin-left:3vw;') %>
                        </li>
                        <li>
                        <%= image_tag('banner2.jpg', style: 'height:25vw;width:96vw;margin-left:3vw;') %>
                        </li>
                        <li>
                        <%= image_tag('banner3.jpg', style: 'height:25vw;width:96vw;margin-left:3vw;') %>
                        </li>
                        <li>
                        <%= image_tag('banner4.jpg', style: 'height:25vw;width:96vw;margin-left:3vw;') %>
                        </li>
                    </ul>
                </div>
				<div class="container-fluid">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>	
			</section>
			<%= yield %>
			<section id="footer-bar">
				<div class="row">
					<div class="span1"></div>
					<div class="span3">
						<h4>Navigation</h4>
						<ul class="nav">
							<li><%= link_to "Trang chủ", root_path%></li> 
							<li><%= link_to "Giới thiệu", root_path%></li>
							
							<li><%= link_to "Thông tin đơn hàng", root_path%></li>
														
						</ul>					
					</div>
					<div class="span4">
						<h4>My Account</h4>
						<ul class="nav">
							<li><%= link_to "Thông tin tài khoản", view_info_path%></li>
							<li><%= link_to "Lịch sử mua hàng", root_path%></li>
							
						</ul>
					</div>
					<div class="span4">
						<p class="logo"><img src="themes/images/logo.png" class="site_logo" alt=""></p>
						
						<br/>
						<span class="social_icons">
							<a class="facebook" href="#">Facebook</a>
							<a class="twitter" href="#">Twitter</a>
							<a class="skype" href="#">Skype</a>
							<a class="vimeo" href="#">Vimeo</a>
						</span>
					</div>					
				</div>	
			</section>
			
		</div>
		<script src="themes/js/common.js"></script>
		<script src="themes/js/jquery.flexslider-min.js"></script>
		<script>
			function timkiem(){
				var text = document.getElementById("searchbar").value
				window.location.assign("/saches/search/" + text)
			}
		</script>
		<script type="text/javascript">
			$(function() {
				$(document).ready(function() {
					$('.flexslider').flexslider({
						animation: "fade",
						slideshowSpeed: 4000,
						animationSpeed: 600,
						controlNav: false,
						directionNav: true,
						controlsContainer: ".flex-container" // the container that holds the flexslider
					});
				});
			});
		</script>
    </body>
</html>