<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Cart Index</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="/app/assets/stylesheets/bootstrap.min.css" rel="stylesheet">      
		<link href="/app/assets/stylesheets/bootstrap-responsive.min.css" rel="stylesheet">
		
		<link href="/app/assets/stylesheets/bootstrappage.css" rel="stylesheet"/>
		
		<!-- global styles -->
		<link href="/app/assets/stylesheets/flexslider.css" rel="stylesheet"/>
		<link href="/app/assets/stylesheets/main.css" rel="stylesheet"/>

		<!-- scripts -->
		<script src="/app/assets/javascripts/jquery-1.7.2.min.js"></script>
		<script src="/app/assets/javascripts/js/bootstrap.min.js"></script>				
		<script src="/app/assets/javascripts/superfish.js"></script>	
		<script src="/app/assets/javascripts/jquery.scrolltotop.js"></script>
		<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="/app/assets/javascripts/respond.min.js"></script>
		<![endif]-->
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	</head>
    <body >	
	<div class="container-fluid">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>	
		<div id="top-bar" class="container">
			<div class="row" width=1100>
				<div >
					<form method="POST" class="search_form">
						<input type="text" class="input-block-level search-query" Placeholder="eg. T-sirt" styles='text-color:black'>
					</form>
				</div>
				<div class="span12">
					<div class="account pull-right">
						<ul class="user-menu">				
							<li><%= link_to "Trang chu", root_path%></li>
							<li><%= link_to "Xem gio hang", view_cart_path%></li>
							<% if user_signed_in? %>
							<li><%= link_to "Xem don hang hang", view_orders_path%></li>				
							<li><%= link_to "Thong tin tai khoan", view_info_path%></li>
							<li><%= link_to "Log Out", signout_path, :method => :get %></li>
							<%else%>
							<li><%= link_to "Dang nhap", "users/sign_in"%></li>
							<li><%= link_to "Dang ky", "users/sign_up"%></li>
							<%end%>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="wrapper" class="container">
			<section class="navbar main-menu">
				<div class="navbar-inner main-menu">				
					<a href="index.html" class="logo pull-left"><img src="themes/images/logo.png" class="site_logo" alt=""></a>
					<nav id="menu" class="pull-right">
						<ul>									
							<li><%= link_to "The loai", root_path%></li>
								
							<li><%= link_to "Tac gia", root_path%></li>
								
							<li><%= link_to "Nha xuat ban", root_path%></li>
							
						</ul>
					</nav>
				</div>
				<div class="flexslider" >              
                    <ul class="slides">                   
                        <li>
                        <%= image_tag('banner1.jpg', style: 'height:25vw;width:96vw; margin-left:3vw;') %>
                        </li>
                        <li>
                        <%= image_tag('banner2.jpg', style: 'height:25vw;width:96vw;margin-left:3vw;') %>
                        </li>
                        <li>
                        <%= image_tag('banner3.jpg', style: 'height:25vw;width:96vw;margin-left:3vw;') %>
                        </li>
                        <li>
                        <%= image_tag('banner4.jpg', style: 'height:25vw;width:96vw;margin-left:3vw;') %>
                        </li>
                    </ul>
                </div>
			</section>
			<%= yield %>
			<section id="footer-bar">
				<div class="row">
					<div class="span1"></div>
					<div class="span3">
						<h4>Navigation</h4>
						<ul class="nav">
							<li><a href="./index.html">Homepage</a></li>  
							<li><a href="./about.html">About Us</a></li>
							<li><a href="./contact.html">Contac Us</a></li>
							<li><a href="./cart.html">Your Cart</a></li>
							<li><a href="./register.html">Login</a></li>							
						</ul>					
					</div>
					<div class="span4">
						<h4>My Account</h4>
						<ul class="nav">
							<li><a href="#">My Account</a></li>
							<li><a href="#">Order History</a></li>
							<li><a href="#">Wish List</a></li>
							<li><a href="#">Newsletter</a></li>
						</ul>
					</div>
					<div class="span4">
						<p class="logo"><img src="themes/images/logo.png" class="site_logo" alt=""></p>
						
						<br/>
						<span class="social_icons">
							<a class="facebook" href="#">Facebook</a>
							<a class="twitter" href="#">Twitter</a>
							<a class="skype" href="#">Skype</a>
							<a class="vimeo" href="#">Vimeo</a>
						</span>
					</div>					
				</div>	
			</section>
			<section id="copyright">
				<span>Copyright 2013 bootstrappage template  All right reserved.</span>
			</section>
		</div>
		<script src="themes/js/common.js"></script>
		<script src="themes/js/jquery.flexslider-min.js"></script>
		<script type="text/javascript">
			$(function() {
				$(document).ready(function() {
					$('.flexslider').flexslider({
						animation: "fade",
						slideshowSpeed: 4000,
						animationSpeed: 600,
						controlNav: false,
						directionNav: true,
						controlsContainer: ".flex-container" // the container that holds the flexslider
					});
				});
			});
		</script>
    </body>
</html>